<div class="navbar">
  <td> <a href="/">Home</a></td>
  <td>
    <p>News</p>
  </td>
  <td>
    <p>Video</p>
  </td>
  <td>
    <p>Code</p>
  </td>
  <td>
    <p class="company">TECHCLUB</p>
  </td>
  <td>
    <p class="login">Login</p>
  </td>
  <td>
    <p class="signup">Sign up</p>
  </td>
</div>

<div class="content">
  <p>The club keeps up to date with all the latest global technology news and free learning videos. Join us</p>
</div>
<div class="btn"><button class="button" (click)="loadArticles()">Start</button></div>

<ul>
  <li *ngFor="let article of articles$ | async">
    <div class="info">
      <div style="overflow-x:auto;">
        <table>
          <tr>
          <p>
            {{article.title}}
          </p>
          <p>
            {{article.description}}
          </p>
        </tr>
        </table>
      </div>
    </div>
  </li>
</ul>